<!DOCTYPE html>
<html lang="en" class="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ProxyTV</title>
    <script src="/static/js/htmx.min.js"></script>
    <link href="/static/css/output.css" rel="stylesheet">
</head>
<body class="bg-gray-100 dark:bg-dark-bg text-gray-900 dark:text-dark-text">
    <div class="container mx-auto p-4">
        <div class="flex justify-end mb-4">
            <div class="relative inline-block w-10 mr-2 align-middle select-none transition duration-200 ease-in">
                <input type="checkbox" name="toggle" id="toggle" class="toggle-checkbox absolute block w-6 h-6 rounded-full bg-white border-4 appearance-none cursor-pointer"/>
                <label for="toggle" class="toggle-label block overflow-hidden h-6 rounded-full bg-gray-300 cursor-pointer"></label>
            </div>
            <label for="toggle" class="text-xs text-gray-700 dark:text-gray-300">Dark Mode</label>
        </div>
        {{ template "content" . }}
    </div>
    <script>
        const toggle = document.getElementById('toggle');
        const html = document.documentElement;

        if (localStorage.theme === 'dark' || (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
            html.classList.add('dark');
            toggle.checked = true;
        } else {
            html.classList.remove('dark');
            toggle.checked = false;
        }

        toggle.addEventListener('change', function() {
            if (this.checked) {
                html.classList.add('dark');
                localStorage.theme = 'dark';
            } else {
                html.classList.remove('dark');
                localStorage.theme = 'light';
            }
        });
    </script>
</body>
</html>